<%- include('../partials/head') %>

<body class="body">
  <%- include('../partials/navbar') %>
  <main>

<% actividadesBorradas.forEach(actividad => { %>
 

  <div class="mainDetail">
    <div class="divMainDetail">
        <div class="imgDivDetail">
            <img src="<%= actividad.image %> " alt="<%= actividad.name %>">
        </div>
        <div class="detalleDivDetail">
            <div class="detalleDetail">
                <div class="tituloDetail">
                    <h3><%= actividad.name %></h3>
                </div>
                <div class="detalleEntrenamiento">
                    <h3 class="tituloDetailTabletDesktop"><%= actividad.name %></h3>
                    <p class="precioDetail"><%= actividad.price %></p>
                    <p class="descripcionDetail"><i class="fa-solid fa-file-lines"></i>
                        <%= actividad.description %>
                    </p>
                    <ul class="horariosDetail">
                        <p><i class="fa-solid fa-clock"></i> Horarios:</p>
                        <li><span>Turno Mañana:</span> - <%= actividad.morningShift %> -</li>
                        <li><span>Turno Tarde:</span> - <%= actividad.afternoonShift %> -</li>
                        <li><span>Turno Noche:</span> - <%= actividad.nightShift %> -</li>
                    </ul>
                </div>
                <div class="recoverBoton">
                    

                    <div class="botonRecover">
                       
                        <form action="/producto/recuperar/<%= actividad.id %>" method="POST">
                            <button type="submit" class="btnPlan"><i class="fa fa-trash"></i>Recuperar</button>
                        </form>
                  
                    </div>
                </div>
            </div>
     </div>
    </div>

    <% }) %>
</main>
  <%- include('../partials/footer') %>
</body>
