<%- include('../partials/head') %>

  <body class="body">
    <%- include('../partials/navbar') %>

      <h1>Editar Actividad: <%= actividad.name %>
      </h1>
      <main class="mainCreateEdit">
        <div class="divCreateEdit">
          <form class="formCreateEdit" action="/producto/<%= actividad.id %> /editar?_method=PUT" method="POST" enctype="multipart/form-data">
            <p>Modifica los campos deseados:</p>
            <div class="flex">
              <div class="inputForm ancho">
                <label for="name">Nombre de la Actividad: </label><span class="asterisco">*</span>
                <input type="text" name="name" id="name" value=" <%= actividad.name %> " />
              </div>

              <div class="inputForm ancho flex">
                <div>
                  <label for="image">Imágen: </label><span class="asterisco">*</span>
                  <input type="file" id="image" name="image" />
                </div>
                <div>
                  <img src="<%= actividad.image %>" width="120" alt="">
                </div>
              </div>
            </div>

            <div class="flex">
              <div class="inputForm ancho">
                <label for="price">Precio: </label><span class="asterisco">*</span>
                <input type="text" name="price" id="price" value="<%= actividad.price %>" />
              </div>

              <div class="inputForm ancho">
                <label for="category">Categoria: </label><span class="asterisco">*</span>
                <select name="category" id="category" class="selectRegister">
                  <option disabled>Elige una opción</option>
                  <option value="aerobico" <%=actividad.category=='aerobico' ? 'selected' : '' ; %>>Aeróbico</option>
                  <option value="fuerza" <%=actividad.category=='fuerza' ? 'selected' : '' ; %>>Fuerza</option>
                  <option value="relax" <%=actividad.category=='relax' ? 'selected' : '' ; %>>Relax</option>
                  <option value="recuperacion" <%=actividad.category=='recuperacion' ? 'selected' : '' ; %>>Recuperación</option>
                </select>
              </div>
            </div>

            <div class="flex">
              <div class="inputForm ancho">
                <label for="morningShift">Horario Mañana: </label><span class="asterisco">*</span>
                <select name="morningShift" id="morningShift" class="selectRegister">
                  <option disabled>Elige una opción</option>
                  <option value="de 08:00Hs a 09:00Hs" <%=actividad.morningShift=='de 08:00Hs a 09:00Hs' ? 'selected' : '' ; %>>de 08:00Hs a 09:00Hs</option>
                  <option value="de 09:00Hs a 10:00Hs" <%=actividad.morningShift=='de 09:00Hs a 10:00Hs' ? 'selected' : '' ; %>>de 09:00Hs a 10:00Hs</option>
                  <option value="de 10:00Hs a 11:00Hs" <%=actividad.morningShift=='de 10:00Hs a 11:00Hs' ? 'selected' : '' ; %>>de 10:00Hs a 11:00Hs</option>
                  <option value="de 11:00Hs a 12:00Hs" <%=actividad.morningShift=='de 11:00Hs a 12:00Hs' ? 'selected' : '' ; %>>de 11:00Hs a 12:00Hs</option>
                  <option value="de 08:00Hs a 12:00Hs" <%=actividad.morningShift=='de 08:00Hs a 12:00Hs' ? 'selected' : '' ; %>>de 08:00Hs a 12:00Hs</option>
                  <option value="Sin turnos por la mañana" <%=actividad.morningShift=='sinTurno' ? 'selected' : '' ; %>>Sin turnos por la mañana</option>
                </select>
              </div>

              <div class="inputForm ancho">
                <label for="afternoonShift">Horario Tarde: </label><span class="asterisco">*</span>
                <select name="afternoonShift" id="afternoonShift" class="selectRegister">
                  <option disabled>Elige una opción</option>
                  <option value="de 14:00Hs a 15:00Hs" <%=actividad.afternoonShift=='de 14:00Hs a 15:00Hs' ? 'selected' : '' ; %>>de 14:00Hs a 15:00Hs</option>
                  <option value="de 15:00Hs a 16:00Hs" <%=actividad.afternoonShift=='de 15:00Hs a 16:00Hs' ? 'selected' : '' ; %>>de 15:00Hs a 16:00Hs</option>
                  <option value="de 16:00Hs a 17:00Hs" <%=actividad.afternoonShift=='de 16:00Hs a 17:00Hs' ? 'selected' : '' ; %>>de 16:00Hs a 17:00Hs</option>
                  <option value="de 17:00Hs a 18:00Hs" <%=actividad.afternoonShift=='de 17:00Hs a 18:00Hs' ? 'selected' : '' ; %>>de 17:00Hs a 18:00Hs</option>
                  <option value="de 14:00Hs a 18:00Hs" <%=actividad.afternoonShift=='de 14:00Hs a 18:00Hs' ? 'selected' : '' ; %>>de 14:00Hs a 18:00Hs</option>
                  <option value="Sin turnos por la tarde" <%=actividad.afternoonShift=='sinTurno' ? 'selected' : '' ; %>>Sin turnos por la tarde</option>
                </select>
              </div>

              <div class="inputForm ancho">
                <label for="nightShift">Horario Noche: </label><span class="asterisco">*</span>
                <select name="nightShift" id="nightShift" class="selectRegister">
                  <option disabled>Elige una opción</option>
                  <option value="de 18:00Hs a 19:00Hs" <%=actividad.nightShift=='de 18:00Hs a 19:00Hs' ? 'selected' : '' ; %>>de 18:00Hs a 19:00Hs</option>
                  <option value="de 19:00Hs a 20:00Hs" <%=actividad.nightShift=='de 19:00Hs a 20:00Hs' ? 'selected' : '' ; %>>de 19:00Hs a 20:00Hs</option>
                  <option value="de 20:00Hs a 21:00Hs" <%=actividad.nightShift=='de 20:00Hs a 21:00Hs' ? 'selected' : '' ; %>>de 20:00Hs a 21:00Hs</option>
                  <option value="de 21:00Hs a 22:00Hs" <%=actividad.nightShift=='de 21:00Hs a 22:00Hs' ? 'selected' : '' ; %>>de 21:00Hs a 22:00Hs</option>
                  <option value="Sin turnos por la noche" <%=actividad.nightShift=='sinTurno' ? 'selected' : '' ; %>>Sin turnos por la noche</option>
                </select>
              </div>
            </div>

            <div class="inputForm">
              <label for="description">Descripción: </label><span class="asterisco">*</span>
              <textarea type="text" name="description" id="description"><%= actividad.description %></textarea>
            </div>

            <div class="divBoton">
              <button class="btn" type="submit">
                <i class="fas fa-check"></i> Editar
              </button>
            </div>
          </form>
        </div>
      </main>

      <%- include('../partials/footer') %>