<%- include('../partials/head') %>

<body class="body">
  <%- include('../partials/navbar') %>

  <h1>Crear Actividad</h1>
  <main class="mainCreateEdit">
    <div class="divCreateEdit">
      <form class="formCreateEdit" action="/producto/crear" method="POST" enctype="multipart/form-data">
        <p>Completar los campos de la Actividad:</p>
        <div class="flex">
          <div class="inputForm ancho">
            <label for="name">Nombre de la Actividad: </label
            ><span class="asterisco">*</span>
            <input
              type="text"
              name="name"
              id="name"
              placeholder="Nombre de Actividad"
              value="<%= locals.oldData ? oldData.name : null %>"
            />
            <% if(locals.errors && errors.name) { %>
              <div>
                <span class="errorInput"> * <%= errors.name.msg %> </span>
              </div>
            <% } %>
          </div>

          <div class="inputForm ancho">
            <label for="image">Imágen: </label><span class="asterisco">*</span>
            <input type="file" id="image" name="image" />
            <% if(locals.errors && errors.image) { %> 
              <div>
                <span class="errorInput"> * <%= errors.image.msg %> </span>
              </div>
            <% } %>
          </div>
        </div>

        <div class="flex">
          <div class="inputForm ancho">
            <label for="price">Precio: </label><span class="asterisco">*</span>
            <input
              type="text"
              name="price"
              id="price"
              placeholder="Precio Producto"
              value="<%= locals.oldData ? oldData.price : null %>"
            />
            <% if(locals.errors && errors.price) { %> 
              <div>
                <span class="errorInput"> * <%= errors.price.msg %> </span>
              </div>
            <% } %>
          </div>

          <div class="inputForm ancho">
            <label for="category">Categoria: </label
            ><span class="asterisco">*</span>
            <select name="category" id="category" class="selectRegister">
              <option disabled <%= !locals.oldData || !oldData.category ? 'selected' : '' ; %>>Elige una opción</option>
              <option value="aerobico" <%= locals.oldData && oldData.category == 'aerobico' ? 'selected' : '' ; %>>Aeróbico</option>
              <option value="fuerza" <%= locals.oldData && oldData.category == 'fuerza' ? 'selected' : '' ; %>>Fuerza</option>
              <option value="relax" <%= locals.oldData && oldData.category == 'relax' ? 'selected' : '' ; %>>Relax</option>
              <option value="recuperacion" <%= locals.oldData && oldData.category == 'recuperacion' ? 'selected' : '' ; %>>Recuperación</option>
            </select>
            <% if(locals.errors && errors.category) { %> 
              <div>
                <span class="errorInput"> * <%= errors.category.msg %> </span>
              </div>
            <% } %>
          </div>
        </div>

        <div class="flex">
          <div class="inputForm ancho">
            <label for="morningShift">Horario Mañana: </label
            ><span class="asterisco">*</span>
            <select
              name="morningShift"
              id="morningShift"
              class="selectRegister"
            >
              <option disabled <%= !locals.oldData || !oldData.morningShift ? 'selected' : '' ; %>>Elige una opción</option>
              <option value="de 08:00Hs a 09:00Hs" <%= locals.oldData && oldData.morningShift == 'de 08:00Hs a 09:00Hs' ? 'selected' : '' ; %>>de 08:00Hs a 09:00Hs</option>
              <option value="de 09:00Hs a 10:00Hs" <%= locals.oldData && oldData.morningShift == 'de 09:00Hs a 10:00Hs' ? 'selected' : '' ; %>>de 09:00Hs a 10:00Hs</option>
              <option value="de 10:00Hs a 11:00Hs" <%= locals.oldData && oldData.morningShift == 'de 10:00Hs a 11:00Hs' ? 'selected' : '' ; %>>de 10:00Hs a 11:00Hs</option>
              <option value="de 11:00Hs a 12:00Hs" <%= locals.oldData && oldData.morningShift == 'de 11:00Hs a 12:00Hs' ? 'selected' : '' ; %>>de 11:00Hs a 12:00Hs</option>
              <option value="Sin turnos por la mañana" <%= locals.oldData && oldData.morningShift == 'Sin turnos por la mañana' ? 'selected' : '' ; %>>Sin turnos por la mañana</option>
            </select>
            <% if(locals.errors && errors.morningShift) { %>  
              <div>
                <span class="errorInput"> * <%= errors.morningShift.msg %> </span>
              </div>
            <% } %>
          </div>

          <div class="inputForm ancho">
            <label for="afternoonShift">Horario Tarde: </label
            ><span class="asterisco">*</span>
            <select
              name="afternoonShift"
              id="afternoonShift"
              class="selectRegister"
            >
              <option disabled <%= !locals.oldData || !oldData.afternoonShift ? 'selected' : '' ; %>>Elige una opción</option>
              <option value="de 14:00Hs a 15:00Hs" <%= locals.oldData && oldData.afternoonShift == 'de 14:00Hs a 15:00Hs' ? 'selected' : '' ; %>>de 14:00Hs a 15:00Hs</option>
              <option value="de 15:00Hs a 16:00Hs" <%= locals.oldData && oldData.afternoonShift == 'de 15:00Hs a 16:00Hs' ? 'selected' : '' ; %>>de 15:00Hs a 16:00Hs</option>
              <option value="de 16:00Hs a 17:00Hs" <%= locals.oldData && oldData.afternoonShift == 'de 16:00Hs a 17:00Hs' ? 'selected' : '' ; %>>de 16:00Hs a 17:00Hs</option>
              <option value="de 17:00Hs a 18:00Hs" <%= locals.oldData && oldData.afternoonShift == 'de 17:00Hs a 18:00Hs' ? 'selected' : '' ; %>>de 17:00Hs a 18:00Hs</option>
              <option value="Sin turnos por la tarde" <%= locals.oldData && oldData.afternoonShift == 'Sin turnos por la tarde' ? 'selected' : '' ; %>>Sin turnos por la tarde</option>
            </select>
            <% if(locals.errors && errors.afternoonShift) { %>  
              <div>
                <span class="errorInput"> * <%= errors.afternoonShift.msg %> </span>
              </div>
            <% } %>
          </div>

          <div class="inputForm ancho">
            <label for="nightShift">Horario Noche: </label
            ><span class="asterisco">*</span>
            <select name="nightShift" id="nightShift" class="selectRegister">
              <option disabled <%= !locals.oldData || !oldData.nightShift ? 'selected' : '' ; %>>Elige una opción</option>
              <option value="de 18:00Hs a 19:00Hs" <%= locals.oldData && oldData.nightShift == 'de 18:00Hs a 19:00Hs' ? 'selected' : '' ; %>>de 18:00Hs a 19:00Hs</option>
              <option value="de 19:00Hs a 20:00Hs" <%= locals.oldData && oldData.nightShift == 'de 19:00Hs a 20:00Hs' ? 'selected' : '' ; %>>de 19:00Hs a 20:00Hs</option>
              <option value="de 20:00Hs a 21:00Hs" <%= locals.oldData && oldData.nightShift == 'de 20:00Hs a 21:00Hs' ? 'selected' : '' ; %>>de 20:00Hs a 21:00Hs</option>
              <option value="de 21:00Hs a 22:00Hs" <%= locals.oldData && oldData.nightShift == 'de 21:00Hs a 22:00Hs' ? 'selected' : '' ; %>>de 21:00Hs a 22:00Hs</option>
              <option value="Sin turnos por la noche" <%= locals.oldData && oldData.nightShift == 'Sin turnos por la noche' ? 'selected' : '' ; %>>Sin turnos por la noche</option>
            </select>
            <% if(locals.errors && errors.nightShift) { %>
              <div>
                <span class="errorInput"> * <%= errors.nightShift.msg %> </span>
              </div>
            <% } %>
          </div>
        </div>

        <div class="inputForm">
          <label for="description">Descripción: </label
          ><span class="asterisco">*</span>
          <textarea
            type="text"
            name="description"
            id="description"
            placeholder="Descripción Actividad"
            value="<%= locals.oldData ? oldData.description : null %>"
          ></textarea>
          <% if(locals.errors && errors.description) { %> 
            <div>
              <span class="errorInput"> * <%= errors.description.msg %> </span>
            </div>
          <% } %>
        </div>

        <div class="divBoton">
          <button class="btn" type="submit">
            <i class="fas fa-check"></i> Crear
          </button>
        </div>
      </form>
    </div>
  </main>

  <%- include('../partials/footer') %>
