<%- include('../partials/head') %>

  <body class="body">
    <%- include('../partials/navbar') %>

      <h1>Editar Actividad: <%= actividad.name %>
      </h1>
      <main class="mainCreateEdit">
        <div class="divCreateEdit">
          <form class="formCreateEdit" action="/producto/<%= actividad.id %> /editar?_method=PUT" method="POST"
            enctype="multipart/form-data">
            <p>Modifica los campos deseados:</p>
            <div class="flex">
              <div class="inputForm ancho">
                <label for="name">Nombre de la Actividad: </label><span class="asterisco">*</span>
                <input type="text" name="name" id="name" value=" <%= actividad.name %> " />
              </div>

              <div class="inputForm ancho flex">
                <div>
                  <label for="image">Imágen: </label>
                  <input type="file" id="image" name="image" />
                </div>
                <div>
                  <img src="<%= actividad.image %>" width="120" alt="">
                </div>
              </div>
            </div>

            <div class="flex">
              <div class="inputForm ancho">
                <label for="price">Precio: </label><span class="asterisco">*</span>
                <input type="text" name="price" id="price" value="<%= actividad.price %>" />
              </div>

              <div class="inputForm ancho">
                <label for="category">Categoria: </label><span class="asterisco">*</span>
                <select name="category" id="category" class="selectRegister">
                  <option disabled>Elige una opción</option>
                  <% categorias.forEach(categoria => { %> 
                    <option value=" <%= categoria.id %> " <%=actividad.id_category == ' categoria.id ' ? 'selected' : '' ; %>><%= categoria.name %></option>
                  <% }) %>
                </select>
              </div>
            </div>

            <div class="flex">
              <div class="inputForm ancho">
                <label for="morningShift">Horario Mañana: </label><span class="asterisco">*</span>
                <select name="morningShift" id="morningShift" class="selectRegister">
                  <option disabled>Elige una opción</option>
                  <% turnoManiana.forEach(turno => { %> 
                    <option value=" <%= turno.id %> " <%=actividad.id_morningShift== ' turno.id ' ? 'selected' : '' ; %>><%= turno.horaTurno %></option>
                  <% }) %>
                </select>
              </div>

              <div class="inputForm ancho">
                <label for="afternoonShift">Horario Tarde: </label><span class="asterisco">*</span>
                <select name="afternoonShift" id="afternoonShift" class="selectRegister">
                  <option disabled>Elige una opción</option>
                  <% turnoTarde.forEach(turno => { %> 
                    <option value=" <%= turno.id %> " <%=actividad.id_afternoonShift== ' turno.id ' ? 'selected' : '' ; %>><%= turno.horaTurno %></option>
                  <% }) %>
                </select>
              </div>

              <div class="inputForm ancho">
                <label for="nigthShift">Horario Noche: </label><span class="asterisco">*</span>
                <select name="nigthShift" id="nigthShift" class="selectRegister">
                  <option disabled>Elige una opción</option>
                  <% turnoNoche.forEach(turno => { %> 
                    <option value=" <%= turno.id %> " <%=actividad.id_nigthShift== ' turno.id ' ? 'selected' : '' ; %>><%= turno.horaTurno %></option>
                  <% }) %>
                </select>
              </div>
            </div>

            <div class="inputForm">
              <label for="description">Descripción: </label><span class="asterisco">*</span>
              <textarea type="text" name="description" id="description"><%= actividad.description %></textarea>
            </div>

            <div class="divBoton">
              <button class="btn" type="submit">
                <i class="fas fa-check"></i> Editar
              </button>
              <button class="btn" type="button">
                <i class="fa-solid fa-xmark"></i> <a href="/#actividades"> Cancelar</a> 
              </button>
            </div>
          </form>
        </div>
      </main>
 
      <%- include('../partials/footer') %>
