<%- include('../partials/head') %>

    <body class="body">
        <%- include('../partials/navbar') %>
            <main>

                <% actividadesBorradas.forEach(actividad=> { %>


                    <div class="mainDetail">
                        <div class="divMainDetail">
                            <div class="imgDivDetail">
                                <img src="<%= actividad.image %> " alt="<%= actividad.name %>">
                            </div>
                            <div class="detalleDivDetail">
                                <div class="detalleDetail">
                                    <div class="tituloDetail">
                                        <h3>
                                            <%= actividad.name %>
                                        </h3>
                                    </div>
                                    <div class="detalleEntrenamiento">
                                        <h3 class="tituloDetailTabletDesktop">
                                            <%= actividad.name %>
                                        </h3>
                                        <p class="precioDetail">$<%= actividad.price %>
                                        </p>
                                        <p class="descripcionDetail"><i class="fa-solid fa-file-lines"></i>
                                            <%= actividad.description %>
                                        </p>

                                        <div class="recoverBoton">
                                            <form action="/producto/recuperar/<%= actividad.id %>" method="POST">
                                                <button type="submit" class="btnPlan"><i class="fa-solid fa-plus"></i>
                                                    Recuperar</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <% }) %>
            </main>
            <%- include('../partials/footer') %>
    </body>