<%- include('../partials/head') %>

    <body class="body">

        <%- include('../partials/navbar') %>

            <main class="mainDetail">
                <div class="divMainDetail">
                    <div class="imgDivDetail">
                        <img src="<%= actividad.image %>" alt="<%= actividad.name %>">
                    </div>
                    <div class="detalleDivDetail">
                        <div class="detalleDetail">
                            <div class="tituloDetail">
                                <h3>
                                    <%= actividad.name %>
                                </h3>
                            </div>
                            <div class="detalleEntrenamiento">
                                <h3 class="tituloDetailTabletDesktop">
                                    <%= actividad.name %>
                                </h3>
                                <p class="precioDetail">$<%= actividad.price %>
                                </p>
                                <p class="descripcionDetail"><i class="fa-solid fa-file-lines"></i>
                                    <%= actividad.description %>
                                </p>
                                <ul class="horariosDetail">
                                    <p><i class="fa-solid fa-clock"></i> Horarios:</p>
                                    <li><span>Turno Mañana:</span> - <%= actividad.morningShift %> -</li>
                                    <li><span>Turno Tarde:</span> - <%= actividad.afternoonShift %> -</li>
                                    <li><span>Turno Noche:</span> - <%= actividad.nigthShift %> -</li>
                                </ul>
                            </div>
                            <form action="/producto/carrito/<%= actividad.id %> " method="post">
                                <div class="agregarBoton">
                                    <div>
                                        <div class="agregarDetail">
                                            <div class="numeroDetail">
                                                <input type="number" id="contadorDetail" name="qty">
                                            </div>
                                            <div class="masMenosDetail">
                                                <button id="flechaSumar" type="button"><i
                                                        class="fa-solid fa-arrow-up"></i></button>
                                                <button id="flechaRestar" type="button"><i
                                                        class="fa-solid fa-arrow-down-long"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="botonDetail">
                                        <button type="submit" class="agregarACarrito"><i
                                                class="fa-solid fa-basket-shopping"></i>AÑADIR AL CARRITO</button>
                                    </div>
                                </div>
                            </form>
                            <%if(personaLogueada==undefined || personaLogueada.nombre !="admin" ){ %>
                                <div></div>
                                <%}else if (personaLogueada.nombre="admin" ) { %>
                                    <div class="divBtnProductos">

                                        <div>
                                            <form action="">
                                                <button class="btnPlan"><i class="fa-solid fa-pen-to-square"></i><a
                                                        href="/producto/<%= actividad.id %>/editar"> Editar</a></button>
                                            </form>
                                        </div>

                                        <div>
                                            <form action="/producto/detalle/<%= actividad.id %>?_method=DELETE"
                                                method="POST">
                                                <button type="submit" class="btnPlan"><i class="fa fa-trash"></i>
                                                    Eliminar</button>
                                            </form>
                                        </div>
                                    </div>


                                    <% } %>
                        </div>
                    </div>
            </main>
            <script src="/js/productDetailScript.js"></script>
            <%- include('../partials/footer') %>