<%- include('../partials/head') %>

  <body class="body">
    <%- include('../partials/navbar') %>

      <h1>Crear Actividad</h1>
      <main class="mainCreateEdit">
        <div class="divCreateEdit">
          <form id="form" class="formCreateEdit" action="/producto/crear" method="POST" enctype="multipart/form-data">
            <p>Completar los campos de la Actividad:</p>
            <div class="flex">
              <div class="inputForm ancho">
                <label for="name">Nombre de la Actividad: </label><span class="asterisco">*</span>
                <input type="text" name="name" id="name" placeholder="Nombre de Actividad"
                  value="<%= locals.oldData ? oldData.name : null %>" required/>
                <span id="errorNombre"></span>
                <% if(locals.errors && errors.name) { %>
                  <div>
                    <span class="errorInput"> * <%= errors.name.msg %> </span>
                  </div>
                  <% } %>
              </div>

              <div class="inputForm ancho">
                <label for="image">Imágen: </label><span class="asterisco">*</span>
                <input type="file" id="image" name="image"/>
                <span id="errorImagen"></span>
                <% if(locals.errors && errors.image) { %>
                  <div>
                    <span class="errorInput"> * <%= errors.image.msg %> </span>
                  </div>
                  <% } %>
              </div>
            </div>

            <div class="flex">
              <div class="inputForm ancho">
                <label for="price">Precio: </label><span class="asterisco">*</span>
                <input type="text" name="price" id="price" placeholder="Precio Producto"
                  value="<%= locals.oldData ? oldData.price : null %>"/>
                <% if(locals.errors && errors.price) { %>
                  <div>
                    <span class="errorInput"> * <%= errors.price.msg %> </span>
                  </div>
                  <% } %>
              </div>

              <div class="inputForm ancho">
                <label for="category">Categoria: </label><span class="asterisco">*</span>
                <select name="category" id="category" class="selectRegister" >
                  <option disabled <%=!locals.oldData || !oldData.category ? 'selected' : '' ; %>>Elige una opción</option>
                  <% categorias.forEach(categoria => { %> 
                    <option value=" <%= categoria.id %> " <%=locals.oldData && oldData.category =='categoria.id' ? 'selected' : '' ; %>><%= categoria.name %></option>
                  <% }) %>
                </select>
                <% if(locals.errors && errors.category) { %>
                  <div>
                    <span class="errorInput"> * <%= errors.category.msg %> </span>
                  </div>
                  <% } %>
              </div>
            </div>

            <div class="flex">
              <div class="inputForm ancho">
                <label for="morningShift">Horario Mañana: </label><span class="asterisco">*</span>
                <select name="morningShift" id="morningShift" class="selectRegister" >
                  <option disabled <%=!locals.oldData || !oldData.morningShift ? 'selected' : '' ; %>>Elige una opción
                  </option>
                  <% turnoManiana.forEach(turno => { %> 
                    <option value=" <%= turno.id %> " <%=locals.oldData && oldData.morningShift =='turno.id' ? 'selected' : '' ; %>><%= turno.horaTurno %></option>
                  <% }) %>
                </select>
                <% if(locals.errors && errors.morningShift) { %>
                  <div>
                    <span class="errorInput"> * <%= errors.morningShift.msg %> </span>
                  </div>
                  <% } %>
              </div>

              <div class="inputForm ancho">
                <label for="afternoonShift">Horario Tarde: </label><span class="asterisco">*</span>
                <select name="afternoonShift" id="afternoonShift" class="selectRegister" >
                  <option disabled <%=!locals.oldData || !oldData.afternoonShift ? 'selected' : '' ; %>>Elige una opción
                  </option>
                  <% turnoTarde.forEach(turno => { %> 
                    <option value=" <%= turno.id %> " <%=locals.oldData && oldData.morningShift =='turno.id' ? 'selected' : '' ; %>><%= turno.horaTurno %></option>
                  <% }) %>
                </select>
                <% if(locals.errors && errors.afternoonShift) { %>
                  <div>
                    <span class="errorInput"> * <%= errors.afternoonShift.msg %> </span>
                  </div>
                  <% } %>
              </div>

              <div class="inputForm ancho">
                <label for="nigthShift">Horario Noche: </label><span class="asterisco">*</span>
                <select name="nigthShift" id="nigthShift" class="selectRegister">
                  <option disabled <%=!locals.oldData || !oldData.nigthShift ? 'selected' : '' ; %>>Elige una opción
                  </option>
                  <% turnoNoche.forEach(turno => { %> 
                    <option value=" <%= turno.id %> " <%=locals.oldData && oldData.morningShift =='turno.id' ? 'selected' : '' ; %>><%= turno.horaTurno %></option>
                  <% }) %>
                </select>
                <% if(locals.errors && errors.nigthShift) { %>
                  <div>
                    <span class="errorInput"> * <%= errors.nigthShift.msg %> </span>
                  </div>
                  <% } %>
              </div>
            </div>

            <div class="inputForm">
              <label for="description">Descripción: </label><span class="asterisco">*</span>
              <textarea type="text" name="description" id="description" placeholder="Descripción Actividad"
                value="<%= locals.oldData ? oldData.description : null %>"></textarea>
              <span id="errorDescription"></span>
              <% if(locals.errors && errors.description) { %>
                <div>
                  <span class="errorInput"> * <%= errors.description.msg %> </span>
                </div>
                <% } %>
            </div>

            <span id="errorSubmit"></span>
            <div class="divBoton">
              <button class="btn" type="submit">
                <i class="fas fa-check"></i> Crear
              </button>
              <button class="btn" type="button">
                <i class="fa-solid fa-xmark"></i> <a href="/"> Cancelar</a> 
              </button>
            </div>
          </form>
        </div>
      </main>

      <script src="/js/productCreateScript.js"></script>

      <%- include('../partials/footer') %>