<%- include('../partials/head') %>

  <body class="body">
    <%- include('../partials/navbar') %>

      <h1>Editá tu contraseña</h1>
      <main class="mainRegister">
        <div class="divRegistro">
          <div class="divImagen"></div>
          <form action="/profile/editPassword/<%= user.id %>" method="post">
            <p>Por favor, modificá tu contraseña:</p>

            <div class="inputForm">
                <label for="passwordOld">Contraseña Actual: </label><span class="asterisco">*</span>
                <input type="password" name="passwordOld" id="passwordOld" placeholder="Ingresa tu contraseña actual" />
                <% if(locals.errors && errors.passwordOld) { %>
                  <div>
                    <span class="errorInput"> * <%= errors.passwordOld.msg %> </span>
                  </div>
                  <% } %>
              </div>

            <div class="inputForm">
              <label for="password">Nueva contraseña: </label><span class="asterisco">*</span>
              <input type="password" name="password" id="password" placeholder="Ingresa tu nueva contraseña" />
              <% if(locals.errors && errors.password) { %>
                <div>
                  <span class="errorInput"> * <%= errors.password.msg %> </span>
                </div>
                <% } %>
            </div>

            <div class="inputForm">
              <label for="confirmarContraseña">Confirmar nueva contraseña:
              </label><span class="asterisco">*</span>
              <input type="password" name="passwordConfirm" id="passwordConfirm" placeholder="Confirma tu nueva contraseña"/>
              <% if(locals.errors && errors.passwordConfirm) { %>
                <div>
                  <span class="errorInput"> * <%= errors.passwordConfirm.msg %> </span>
                </div>
                <% } %>
            </div>

            <div class="divBoton">
              <button class="btn" type="submit">
                <i class="fas fa-check"></i> Modificar
              </button>
              <button class="btn">
                <i class="fa-solid fa-xmark"></i> <a href="/profile"> Cancelar</a> 
              </button>
            </div>
          </form>
        </div>
      </main>

      <%- include('../partials/footer') %>