<%- include('../partials/head') %>

  <body class="body">
    <%- include('../partials/navbar') %>

      <h1>Sé parte de tú cambio</h1>
      <main class="mainRegister">
        <div class="divRegistro">
          <div class="divImagen"></div>
          <form class="userForms" action="/register" method="post" enctype="multipart/form-data">
            <p>Para comenzar completa los campos:</p>
            <div class="flex">
              <div class="inputForm ancho">
                <label for="nombre">Nombre: </label><span class="asterisco">*</span>
                <input type="text" name="nombre" id="nombre" placeholder="Tu nombre" value="<%= locals.oldData ? oldData.nombre : null %>" />
                <% if(locals.errors && errors.nombre) { %>
                  <div>
                    <span class="errorInput"> * <%= errors.nombre.msg %> </span>
                  </div>
                  <% } %>
              </div>
              <div class="inputForm ancho">
                <label for="apellido">Apellido: </label><span class="asterisco">*</span>
                <input type="text" name="apellido" id="apellido" placeholder="Tu apellido" value="<%= locals.oldData ? oldData.apellido : null %>"/>
                <% if(locals.errors && errors.apellido) { %>
                  <div>
                    <span class="errorInput"> * <%= errors.apellido.msg %> </span>
                  </div>
                  <% } %>
              </div>
              <div class="inputForm ancho">
                <label for="image">Imágen: </label><span class="asterisco">*</span>
                <input type="file" id="image" name="fotoPerfil" />
                <% if(locals.errors && errors.fotoPerfil) { %>
                  <div>
                    <span class="errorInput"> * <%= errors.fotoPerfil.msg %> </span>
                  </div>
                  <% } %>
              </div>
            </div>

            <div class="flex espacio">
              <div class="inputForm">
                <div class="inputForm">
                  <label for="genero">Género: </label><span class="asterisco">*</span>
                  <select name="genero" id="genero" class="selectRegister">
                    <option disabled <%= !locals.oldData || !oldData.genero ? 'selected' : '' ; %>>Elige una opción</option>
                    <% generos.forEach(genero => { %> 
                      <option value= "<%= genero.id %>" <%= locals.oldData && oldData.genero == 'genero.id' ? 'selected' : '' ; %>><%= genero.name %></option>
                    <% }) %>
                  </select>
                  <% if(locals.errors && errors.genero) { %>
                    <div>
                      <span class="errorInput"> * <%= errors.genero.msg %> </span>
                    </div>
                    <% } %>
                </div>
              </div>
              <div class="inputForm">
                <label for="edad">Edad: </label><span class="asterisco">*</span>
                <input type="number" name="edad" id="edad" placeholder="Tu edad" value="<%= locals.oldData ? oldData.edad : null %>"/>
                <% if(locals.errors && errors.edad) { %>
                  <div>
                    <span class="errorInput"> * <%= errors.edad.msg %> </span>
                  </div>
                  <% } %>
              </div>
              <div class="inputForm">
                <label for="actividad">Actividad preferida: </label><span class="asterisco">*</span>
                <select name="actividad" id="actividad" class="selectRegister">
                  <option disabled <%= !locals.oldData || !oldData.actividad ? 'selected' : '' ; %>>Elige una opción</option>
                  <% actividades.forEach(actividad => { %> 
                    <option value= "<%= actividad.id %>" <%= locals.oldData && oldData.actividad == 'actividad.id' ? 'selected' : '' ; %>><%= actividad.name %></option>
                  <% }) %>
                </select>
                <% if(locals.errors && errors.actividad) { %>
                  <div>
                    <span class="errorInput"> * <%= errors.actividad.msg %> </span>
                  </div>
                  <% } %>
              </div>
            </div>

            <div class="inputForm">
              <label for="email">Correo electrónico: </label><span class="asterisco">*</span>
              <input type="email" name="email" id="email" placeholder="Tu email" value="<%= locals.oldData ? oldData.email : null %>"/>
              <% if(locals.errors && errors.email) { %>
                <div>
                  <span class="errorInput"> * <%= errors.email.msg %> </span>
                </div>
                <% } %>
            </div>
            <div class="inputForm">
              <label for="contraseña">Contraseña: </label><span class="asterisco">*</span>
              <input type="password" name="password" id="password" placeholder="Ingresa tu contraseña" />
              <% if(locals.errors && errors.password) { %>
                <div>
                  <span class="errorInput"> * <%= errors.password.msg %> </span>
                </div>
                <% } %>
            </div>

            <div class="inputForm">
              <label for="confirmarContraseña">Confirmar contraseña:
              </label><span class="asterisco">*</span>
              <input type="password" name="passwordConfirm" id="passwordConfirm" placeholder="Confirma tu contraseña"/>
              <% if(locals.errors && errors.passwordConfirm) { %>
                <div>
                  <span class="errorInput"> * <%= errors.passwordConfirm.msg %> </span>
                </div>
                <% } %>
            </div>
            <div class="terminos">
              <div>
                <input type="checkbox" name="condiciones" id="condiciones" />
                <label for="condiciones">Acepto aviso de privacidad y términos y condiciones</label>
                <% if(locals.errors && errors.condiciones) { %>
                  <div>
                    <span class="errorInput"> * <%= errors.condiciones.msg %> </span>
                  </div>
                  <% } %>
              </div>
            </div>
            <div class="divBoton">
              <button class="btn" type="submit">
                <i class="fa-solid fa-user-plus"></i> Registrarme
              </button>
            </div>
          </form>
        </div>
      </main>

      <%- include('../partials/footer') %>
